@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Playwrite+MX&family=Playwrite+US+Trad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playwrite+MX&family=Playwrite+US+Trad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Silkscreen&display=swap');

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

body::before {
  background-image: url("assets/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
  position: fixed;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #8C342B;
  border-bottom: 2px solid #8C342B;
}

#logo {
  width: 25%;
  justify-self: flex-start;
}

#logo img {
  cursor: pointer;
  width: 100%
}

#title {
  margin-left: 6%;
  align-self: center;
  font-family: "Philosopher", sans-serif;
  font-size: 50px;
}

h2 {
  font-family: "Lora", serif;
  font-style: italic;
}

.search-section {
  margin: 5px 0;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-end;
}

button {
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  background-color: #260101;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family: "Lora", serif;
}

.nombreFilosofo {
  width: 60%;
  height: 30px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  font-family: "Lora", serif;
  border-radius: 50px;
}

.side-menu {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #A68C76;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  z-index: 2;
  box-shadow: 10px 10px 10px black;
}

.filters {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

label {
  font-family: "Lora", serif;
  margin-top: 25px;
}

select {
  cursor: pointer;
  background-color: #d9bba9e1;
  color: rgb(0, 0, 0);
  font-family: "Lora", serif;
  margin-left: 5px;
}

.philosophersList {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.philosophersCard {
  padding: 1%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-flow: row nowrap;
  font-family: "Lora", serif;
  background-color: #d8d7d3;
  border: solid #A68C76 5px;
  width: 45%;
  flex-grow: 1;
}

.image-container {
  padding: 2%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

#stats {
  margin-bottom: 3%;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #d8d7d360;
  width: 100%;
}

footer {
  font-family: "Lora", serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  border-top: 2px solid #8C342B;
  border-bottom: 2px solid #8C342B;
  padding: 5px;
}

input:checked~.side-menu {
  transform: translateX(0%);
}

input[type="checkbox"] {
  display: none;
}

#btn-label {
  box-shadow: 4px 4px 4px black;
  margin-left: 15px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1;
  background-color: #260101;
  color: white;
  padding: .5%;
}

#close-btn {
  align-self: flex-end;
  font-size: 24px;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
}

#statsButton {
  width: 25%;
  box-shadow: 3px 3px 3px black;
  margin-bottom: 2%;
  cursor: pointer;
  background-color: #260101;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
  margin-top: 25px;
}

@media (max-width:480px) {
  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }

  #title {
    font-size: 20px;
  }

  #logo {
    width: 30%
  }

  #logo img {
    width: 100%
  }

  h2 {
    font-size: 15px;
  }

  .search-section {
    width: 100%;
  }

  .nombreFilosofo {
    width: 40%;
    height: 15%
  }

  button {
    width: 15%;
    height: 10%;
    font-size: 7px;
    margin-left: 1.5%
  }

  #btn-label {
    font-size: 7px;
    width: 10%;
    height: 5%;
    margin-left: 1.5%
  }

  .side-menu {
    width: 30%;
  }

  select {
    width: 80%;
    height: 20%;
    font-size: 10px;
  }

  label {
    font-size: 10px;
  }

  .philosophersCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    font-size: 10px;
  }

  .image-container {
    width: 40%;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1%;
  }

  #statsButton {
    width: 60%;
  }

  #stats {
    width: 100%;
    font-size: 10px;
  }

  tr {
    display: flex;
    flex-flow: column nowrap;
    width: 10%;
  }

  footer {
    font-size: 10px;
  }
}

@media (min-width:481px) and (max-width:1024px) {
  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }

  #title {
    font-size: 20px;
  }

  #logo {
    width: 30%
  }

  #logo img {
    width: 100%
  }

  h2 {
    font-size: 15px;
  }

  .nombreFilosofo {
    width: 50%;
    height: 15%
  }

  button {
    width: 15%;
    height: 15%;
    font-size: 10px;
    margin-left: 1.5%
  }

  #btn-label {
    font-size: 10px;
    width: 10%;
    height: 5%;
    margin-left: 1.5%
  }

  .side-menu {
    width: 35%;
  }

  label {
    font-size: 12px
  }

  select {
    width: 70%;
    font-size: 10px;
  }

  .philosophersCard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;
    font-size: 12px;
  }

  .image-container {
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  #statsButton {
    width: 60%;
  }

  #stats {
    width: 100%;
    font-size: 15px;
  }

  tr {
    display: flex;
    flex-flow: column nowrap;
  }

  footer {
    font-size: 10px;
  }
}